<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Activity 2</title>
</head>
<body>
    <div class="container">
        <p>        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magnam nostrum amet saepe ratione quae placeat labore totam quas excepturi ea, ipsa fugit molestias culpa quis sequi ducimus numquam consequatur ex itaque dolorem. Fugit, eius similique voluptatem officia sed maiores adipisci quidem harum quis impedit consectetur. Excepturi est corporis inventore!
        </p>
        
        <a href="#">Google</a>
    </div>
</body>
</html>