<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Activity 1</title>
</head>
<body>
    <div class="container">
        <img src="../assets/images/fathy.jpeg" alt="fathy">
        <h1>Fathy El Kot</h1>
        <div class="quote">
            <q> I Can Meow </q>
        </div>
        <button id="img-btn">Follow</button>
    </div>
</body>
</html>