<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity 1</title>
</head>
<body>
    <h1>Mohamed</h1>
    <img src="../assets/images/computer.jpg">
    <h2>About me</h2>
    <p>
        My name is <strong>Mohamed</strong> and im <b>21 years old</b>, my dream is to become a succesful <em>fullstack engineer</em>
    </p>

    <table border="1.0">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HTML</td>
                <td>9</td>
            </tr>
            <tr>
                <td>CSS</td>
                <td>8</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>7</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Overall</td>
                <td>24/30</td>
            </tr>
        </tfoot>
    </table>
    <form>
        <label for="name">Name:</label>
        <input type="text" name="name" id="id"><br>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email"><br>
        <label for="cars">Choose a car:</label>
        <select name="cars" id="cars">
            <option value="1">Toyota</option>
            <option value="2">Hyundai</option>
            <option value="3">Seat</option>
        </select><br>
        <label for="text">Message</label>
        <textarea id="text"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>