*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.child{
    display: flex;
    flex-flow: column wrap;
}

.child .input{
    margin: 8px;
    width: 30%;
}
